<div class="header">
  <h1><%=@place.location%></h1>
  <br>
  <h2><%= @place.dates %></h2>
</div>
<div class="photos"></div>
<div class="col-10 offset-1 thoughts">
    <% @place.thoughts.each do |thought|%>
      <div class="thought">
        <%= thought.description %>
        <%= thought.favorite %>
      </div>
    <% end %>
</div>
